.navbar-toggler {
  display: inline-block;
  margin-top: 10px;
}

/* -----------------Media Query--------- */

@media screen and (max-width: 768px) {
  .navbar-nav .desk {
    display: none;
  }

  .container-fluid {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0;
  }
}
